<h1>
  List of all actors
</h1>

<hr>

<form action="insert_actor" method="post">

  <label for="name">Name</label>
  <input id="name" type="text" name="actor_name"><br>
  <label for="dob">Dob</label>
  <input id="dob" type="date" name="actor_dob"><br>
  <label for="bio">Bio</label>
  <textarea id="bio_box" name="actor_bio" rows="3"></textarea><br>
  <label for="img">Image</label>
  <input id="img" type="text" name="actor_img"><br>
  

  <button>Create actor</button>	
</form>


<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
